.wrapper{
  overflow-x: none;
  overflow-y: none;
}

.nothing_selected{
  position: relative;
  max-width: 363px;
  max-height: 263px;
  width: 363px;
  height: 263px;
  border-radius: 12px;
}

.card{
  max-width: 335px;
  max-height: 220px;
  width: 335px;
  height: 220px;
  background-color: rgb(255,204,1);
  overflow-y: auto;
  scrollbar-width: thin;
}

.tab{
  max-width: 320px;
  overflow-y: none;
}

.mat-tab-body{
  overflow-y: none;
}

.item{
  cursor: pointer;
  background-color: rgb(95, 94, 94);
  border-radius: 12px;
  margin-bottom: 5px;
  width: 355px;
  :hover{
    opacity: 0.75;
  }
}

.grid-container{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-right: 5px;
}

.grid-item {
  text-align: center;
  .headlines{
    font-weight: bold;
  }
}
