<ng-container *ngIf="!this.loaded;else pokedex">
  <mat-spinner class="loading"></mat-spinner>
</ng-container>
<ng-template #pokedex>
  <div class="pokedex-wrapper">
    <div id="pokedex">
      <img src="../../../../assets/images/pokedex_transparent_bigger_front_ds_1100x1000.png" alt="background">
    </div>
    <div id="infofield">
      <app-info-field-feature></app-info-field-feature>
    </div>
    <div id="pokelist">
      <app-pokemon-list-feature></app-pokemon-list-feature>
    </div>
  </div>
</ng-template>
